* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

form {
  padding: 10px;
  text-align: center;
}

input {
  /* color: black; */
  text-align: center;
  padding: 0;
}

.app_background {
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
}

.skittles_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  justify-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.skittle {
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 20px auto;
}

.skittles_container {
  margin-bottom: 50px;
}

.color_picker_container {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

